    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'courseModule.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'courseModule.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'courseModule.name' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'courseModule.name' | translate}}" id="1" [(ngModel)]="item.name"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'courseModule.description' | translate}}</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30" placeholder="{{'courseModule.description' | translate}}"  [(ngModel)]="item.description"
                                                       ></textarea>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'courseModule.order' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'courseModule.order' | translate}}" [(ngModel)]="item.order"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'courseModule.duration' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'courseModule.duration' | translate}}" [(ngModel)]="item.duration"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'courseModule.course' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="courses" [(ngModel)]="item.course" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'courseModule.course' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="{{'courseModule.moduleContents' | translate}}">
                                        <div class="p-col">
                                            <div class="grid">
                                                            <div class="field col-12 md:col-6">
                                                                <label for="1">Name</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Name"
                                                                       id="1" [(ngModel)]="moduleContentsElement.name" autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="2">{{'moduleContent.description' | translate}}</label>
                                                                <textarea id="2" pInputTextarea rows="5" cols="30" placeholder="{{'moduleContent.description' | translate}}"  [(ngModel)]="moduleContentsElement.description"
                                                                           ></textarea>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">Type</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Type"
                                                                       id="3" [(ngModel)]="moduleContentsElement.type" autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="4">Url</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Url"
                                                                       id="4" [(ngModel)]="moduleContentsElement.url" autofocus   >
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addModuleContents()"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="card">
                                                <p-table [value]="item.moduleContents" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Name</th>
                                                                        <th>Description</th>
                                                                        <th>Type</th>
                                                                        <th>Url</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p let-i="rowIndex">
                                                        <tr>
                                                                        <td>{{p.name}}</td>
                                                                        <td>{{p.description}}</td>
                                                                        <td>{{p.type}}</td>
                                                                        <td>{{p.url}}</td>
                                                            <td>
                                                                <button (click)="deleteModuleContents(p,i)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editModuleContents(p,i)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                        </div>
                            </p-tabPanel>


                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
