        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'payment.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'payment.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'payment.amount' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'payment.amount' | translate}}" [(ngModel)]="item.amount"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'payment.paymentDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'payment.paymentDate' | translate}}"  [(ngModel)]="item.paymentDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'payment.status' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'payment.status' | translate}}" id="3" [(ngModel)]="item.status"
                                                             />
                                                    
                                                </div>


                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'payment.student' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="students" [(ngModel)]="item.student" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="email" placeholder="{{'payment.student' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="5">{{'payment.course' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="courses" [(ngModel)]="item.course" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'payment.course' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
