    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'moduleContent.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'moduleContent.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'moduleContent.name' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'moduleContent.name' | translate}}" id="1" [(ngModel)]="item.name"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'moduleContent.description' | translate}}</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30" placeholder="{{'moduleContent.description' | translate}}"  [(ngModel)]="item.description"
                                                       ></textarea>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'moduleContent.type' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'moduleContent.type' | translate}}" id="3" [(ngModel)]="item.type"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'moduleContent.url' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'moduleContent.url' | translate}}" id="4" [(ngModel)]="item.url"
                                                    />
                                            
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'moduleContent.module' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="modules" [(ngModel)]="item.module" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'moduleContent.module' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
