
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'payment.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'payment.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'payment.amount' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'payment.amount' | translate}}" [ngModel]="item.amount"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'payment.paymentDate' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'payment.paymentDate' | translate}}"  [ngModel]="item.paymentDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'payment.status' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'payment.status' | translate}}" autofocus  id="3" [ngModel]="item.status">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'payment.student' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'payment.student' | translate}}" autofocus  id="4" [ngModel]="item.student?.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'payment.course' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'payment.course' | translate}}" autofocus  id="5" [ngModel]="item.course?.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



